#my-account .addresses-lists {
  margin-bottom: 30px; }
#my-account ul.myaccount-link-list li {
  overflow: hidden;
  padding-bottom: 10px; }
  #my-account ul.myaccount-link-list li a {
    display: block;
    overflow: hidden;
    font: 600 16px/20px "Open Sans", sans-serif;
    color: #CCCCCC;
    text-shadow: 0px 1px #000000;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    border: 1px solid;
    border-color: #777777;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #222222));
    background-image: -webkit-linear-gradient(#444444, #222222);
    background-image: -moz-linear-gradient(#444444, #222222);
    background-image: -o-linear-gradient(#444444, #222222);
    background-image: linear-gradient(#444444, #222222);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
    #my-account ul.myaccount-link-list li a i {
      font-size: 25px;
      color: #EC0590;
      position: absolute;
      left: 0;
      top: 0;
      width: 52px;
      height: 100%;
      padding: 10px 0 0 0;
      text-align: center;
      border: 1px solid #000000;
      -moz-border-radius-topleft: 4px;
      -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;
      -moz-border-radius-bottomleft: 4px;
      -webkit-border-bottom-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    #my-account ul.myaccount-link-list li a span {
      display: block;
      padding: 13px 15px 15px 17px;
      overflow: hidden;
      border: 1px solid;
      margin-left: 52px;
      border-color: #444444;
      -moz-border-radius-topright: 5px;
      -webkit-border-top-right-radius: 5px;
      border-top-right-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -webkit-border-bottom-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    #my-account ul.myaccount-link-list li a:hover {
      filter: none;
      background: #555555;
      border-color: #9e9e9e #c2c2c2 #c8c8c8 #c2c2c2; }
